body {
  height: 100%;
}

#home {
  height: 250px;
  padding: 3px 20px;
}
#home::before {
  background: url("bg7.webP") no-repeat center center/cover;
  background-position: center;
  opacity: 0.7;
  transform: scale(1);
  height: 300px;
  width: 100%;
}
.h-prim {
  font-size: 1.5rem;
  padding: 20px 0px;
}
.h-secondary {
  font-size: 1.2rem;
}
#home p {
  font-size: 0.7rem;
  line-height: 1.1rem;
}

.btn {
  margin-top: 12px;
  padding: 3px 6px;
  font-size: 8px;
}

#services {
  flex-direction: column;
}

#services-container {
  height: 850px;
}

#services {
  margin: auto 62px;
}
#services .box {
  height: 210px;
}
#services p {
  font-size: 10px;
}

#services .box img {
  height: 100px;
  width: 200px;
}

.ham {
  position: absolute;
  right: 8%;
  top: 30%;
  cursor: pointer;
  z-index: 2;
}
.line {
  height: 3px;
  width: 30px;
  background: white;
  margin: 5px;
}

.navbar {
  flex-direction: column;
  position: relative;
  font-size: 12px;
}
.navbar::before {
  width: 100%;
}

.nav-links {
  border: 1px solid black;
  margin: auto 0px;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: teal;
  z-index: 1;
  height: 100%;
  width: 100%;
  clip-path: circle(100px at 90% -20%);
  -webkit-clip-path: circle(100px at 90% -20%);
  transition: all 1s ease-out;
}
body.overflow {
  overflow: hidden;
}
.nav-links.open {
  clip-path: circle(1300px at 90% -20%);
  -webkit-clip-path: circle(1300px at 90% -20%);
}

.nav-links li a {
  padding: 4px 6px;
}
.nav-links li {
  margin: 1.8rem;
}
#logo {
  margin: auto;
}
#logo img {
  height: 40px;
  width: 40px;
}
#clients .box img {
  height: 50px;
  width: 50px;
  border-radius: 4rem;
}
#clients {
  margin: 25px 10px;
  flex-wrap: wrap;
}
#clients-cont {
  margin-top: 25px;
  height: 346px;
  width: 100%;
}
#clients-cont::before {
  height: 345px;
  width: 100%;
  background: url("bg2.webP") no-repeat center center/cover;
  transform: scale(1);
}

#contact-form {
  height: 370px;
}
#contact-form::before {
  height: 370px;
}

#form {
  height: 200px;
  width: 275px;
}
#contact-form form input {
  width: 150px;
  margin: 0px;
  font-size: 0.5rem;
}
#contact-form form {
  font-size: 0.8rem;
  width: 230px;
  padding: 8px 0px;
}
#contact-form .h-secondary {
  font-size: 12px;
  padding: 7px;
}
#contact-form .btn2 {
  padding: 2px 5px;
  font-size: 10px;
  margin-top: 15px;
}

#foot p {
  font-size: 10px;
}
#foot #contact p {
  font-size: 8px;
}
#foot #contact {
  position: relative;
  margin: 0px;
}
